db.sqlite3
*.ids
.idea
*.py[cod]


.DS_Store

static/*
# Keep static placeholder
!static/static
components/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
