container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_create_superuser_for_django:
    command: "python manage.py createsu"
    leader_only: true
  03_bowerinstall:
    command: 'source /opt/python/run/venv/bin/activate && python manage.py  bower_install -- --allow-root'
  04_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
