container_commands:
  01_local_config:
    command: "/bin/bash /var/app/current/.ebextensions/copy_settings.sh"
  02_migrate:
    command: "python3 /var/app/current/manage.py migrate --noinput"
    leader_only: true
  03_create_superuser_for_django:
    command: "python3 /var/app/current/manage.py createsu"
    leader_only: true
  04_bowerinstall:
    command: 'python3 /var/app/current/manage.py  bower_install --allow-root'
  05_collectstatic:
    command: "python3 /var/app/current/manage.py collectstatic --noinput"
