container_commands:
  01_local_config:
    command: "/bin/bash .ebextensions/copy_settings.sh"
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  03_create_superuser_for_django:
    command: "python manage.py createsu"
    leader_only: true
  04_bowerinstall:
    command: 'source /opt/python/run/venv/bin/activate && python manage.py  bower_install -- --allow-root'
  05_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
