option_settings:
  aws:elb:listener:443:
    ListenerProtocol: HTTPS
    InstancePort: 80
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elasticbeanstalk:managedactions:
    ManagedActionsEnabled: true
    PreferredStartTime: TUE:01:46
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateType: Health
    RollingUpdateEnabled: true
  aws:elasticbeanstalk:managedactions:platformupdate:
    UpdateLevel: minor
  aws:rds:dbinstance:
    DBEngineVersion: 9.5.4
    DBPassword: threatbuster
    DBAllocatedStorage: '5'
    DBInstanceClass: db.t2.small
    DBEngine: postgres
    DBUser: threatbuster
    MultiAZDatabase: false
    DBDeletionPolicy: Snapshot